# WALLABAG SETTINGS
DOMAIN_NAME=http://localhost:8080

# SQLite SETTINGS
DATABASE_DRIVER=pdo_sqlite
DATABASE_PATH=/var/www/wallabag/data/wallabag.sqlite

# PostgreSQL SETTINGS
POSTGRES_USER=wallabag
POSTGRES_PASSWORD=[your password here]
POSTGRES_DB=wallabag
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=wallabag
DATABASE_USER=wallabag
DATABASE_PASSWORD=[your password here]
DATABASE_DRIVER=pdo_pgsql
DATABASE_PATH=null


# PostgreSQL
#DATABASE_URL=postgresql://wallabag:wallapass@127.0.0.1:5432/wallabag?charset=utf8
# PostgreSQL (Docker Compose)
#DATABASE_URL=postgresql://wallabag:wallapass@postgres:5432/wallabag?charset=utf8

# REDIS SETTINGS
REDIS_HOST=redis
